.mainpage {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  height: 100%;
  width: 80%;
  margin-top: 1rem;
  background-color: #ffffff;
  gap: 1rem;
}

.section__blogposts {
  max-width: 40rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  
}

