.blogpost {
    min-height: 20rem;
    max-height: 30rem;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    gap: .5rem;
}

.blogpost__title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.blogpost__content {
    margin: 0;
}

.line {
    width: 100%;
    height: 1.5px;
    background-color: #ffadad;
}

.blogpost img {
    max-height: 20rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}